<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todos</title>
</head>
<body>
<form action="/todos" method="post">
    <input name="newtodo" type="text">
    <br>
    <button type="submit">Submit</button>
</form>
<ul>
    {{#each todos as |todo|}}
        <li>{{todo.task}}</li>
    {{/each}}
</ul>

</body>
</html>